body {
background: #c3c3c3;
}

#media-left {
	float: right;
	margin-top: 50px;
}

p {
	width: 700px;
	font-family: times; sans serif;
	font-size: 16px;
	line-height: 1.5;
	margin: 50px;
	padding: 5px;
}

.container {
	background-color: #c3c3c3;
}


form-group {
	width: 50px;
	border: 5px solid #ccc;
	background-color: #c3c3c3;
	margin: 50px 0 0 50px;
	padding: 20px 0 0 0;

}

form {
	width: 50px;
	margin: 70px 0 0 70px;
	background-color: #c3c3c3;
	padding: 20px 0 0 0;
}

label {
	display: block;
	margin: 5px 0 5px 20px;
	font: 18px sans-serif;
	color:;
	padding-bottom: 5px;
}

input {
	width: 500px;
	margin: 0 0 0 20px;
}

fieldset {
	border: none;
	background-color: #f6f6f6
	padding: 0 0 20 0;
{

	background: #B3A046;
}

footer {
	background: #c3c3c3;
	color: #FFFFFF;
	top: 10px;
	bottom: 10px;
	padding: 5px
	font-size: 12px;
}
